.pokemon-bg {
  width: 230px;
  height: 230px;
  border-radius: 100% !important;
  margin: -180px 0 -50px -30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.pokemon-type {
  color: $white;
  font-size: 0.688rem;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 5px;
}

.pokemon-name {
  color: $white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.pokemon-id {
  color: $white;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 30px 0 0 0;
}

.ov-hidden {
  overflow: hidden;
}
