@each $colorname, $color in $colors {
  .h1-#{$colorname} {
    font-size: 4rem;
    font-weight: bold;
    color: $color;
    text-transform: capitalize;
  }

  .h2-#{$colorname} {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color;
    text-transform: capitalize;
  }

  .body1-#{$colorname} {
    color: $color;
    font-size: 1.125rem;
    text-transform: capitalize;
  }
}

.error-component {
  margin-top: 100px;
  text-align: center;
}

.title-error {
  font-size: 2.25rem;
  color: map-get($colors, primary);
}

.link {
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.link-text {
  font-size: 1.125rem;
  text-decoration: underline;
  color: map-get($colors, primary);
}

.chip {
  color: map-get($colors, white);
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 5px;
}

.centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transform-none {
  text-transform: none;
}

@media (max-width: 1280px) {
  @each $colorname, $color in $colors {
    .h1-#{$colorname} {
      font-size: 1.5rem;
    }

    .h2-#{$colorname} {
      font-size: 1rem;
    }

    .body1-#{$colorname} {
      font-size: 0.875rem;
    }
  }

  .chip {
    font-size: 0.688rem;
  }
}
