@each $colorname, $color in $colors {
  .h1-#{$colorname} {
    font-size: 4rem;
    font-weight: bold;
    color: $color;
    text-transform: capitalize;
  }

  .h2-#{$colorname} {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color;
    text-transform: capitalize;
  }

  .body1-#{$colorname} {
    color: $color;
    font-size: 1.125rem;
    text-transform: capitalize;
  }
}

.centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip {
  color: map-get($colors, white);
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 5px;
}

.transform-none {
  text-transform: none;
}
