.content {
  padding: 110px 220px 80px;
}

.pokeball {
  height: 300px;
  width: 300px;
  position: absolute;
  right: 0;
  top: 0;
}

.pagination::v-deep {
  margin-top: 60px;
  .v-pagination__item {
    box-shadow: none;
    font-weight: bold;
    font-size: 0.875rem;
    color: map-get($colors, gray3);
  }
  .v-pagination__item--active {
    color: map-get($colors, white);
  }
  .v-pagination__navigation {
    box-shadow: none;
    .v-icon {
      color: map-get($colors, primary);
    }
  }
}

.link {
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.link-text {
  font-size: 1.125rem;
  text-decoration: underline;
  color: map-get($colors, primary);
}

.search-not-found {
  margin-top: 100px;
  text-align: center;
}

.title-404 {
  font-size: 2.25rem;
  color: map-get($colors, primary);
}