.pagination::v-deep {
  margin-top: 40px;
  .v-pagination__item {
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
    color: map-get($colors, gray3);
  }
  .v-pagination__item--active {
    color: white;
  }
  .v-pagination__navigation {
    box-shadow: none;
    .v-icon {
      color: map-get($colors, primary);
    }
  }
}
