@each $colorname, $color in $colors {
  .pokemon-bar-#{$colorname} {
    padding: 110px 20px;
    background-color: $color;
  }
}

.pokemon-bar-width {
  width: 1000px;
}

.pokemon-content {
  margin: -50px 20px;
  padding: 100px;
}

.type {
  font-size: 1.125rem;
  @extend .chip !optional;
}

.tabs::v-deep {
  border-bottom: 1px solid map-get($colors, gray5);
  .v-tabs-bar {
    border-radius: 0;
    .v-tab {
      color: map-get($colors, gray1);
      text-transform: capitalize;
      font-size: 1.125rem;
    }
  }
}
