@each $colorname, $color in $colors {
  .pokemon-bar-#{$colorname} {
    padding: 110px 20px;
    background-color: $color;
  }
}

.main-picture{
  height: 300px;
  width: 300px;
  margin-top: -240px;
  background-color: rgba(255, 255, 255,0.2);
  border-radius: 100%;
}

.main-picture-width {
  width: 300px;
}

.pokemon-bar-width {
  width: 1000px;
}

.pokemon-content {
  margin: -50px 20px;
  padding: 100px;
}

.type {
  font-size: 1.125rem;
  @extend .chip !optional;
}

.tabs::v-deep {
  border-bottom: 1px solid map-get($colors, gray5);
  margin-top: -48px;
  .v-tabs-bar {
    border-radius: 0;
    .v-tab {
      color: map-get($colors, gray1);
      text-transform: capitalize;
      font-size: 1.125rem;
    }
  }
}

.tabs-card {
  margin: -48px 20px 0;
  padding: 64px;
}

@media (max-width: 1280px) {
  @each $colorname, $color in $colors {
    .pokemon-bar-#{$colorname} {
      padding: 20px 20px 140px;
    }
  }

  .type {
    font-size: 0.813rem;
  }

  .tabs-card {
    padding: 64px 20px 20px;
  }

  .v-tab::v-deep {
    font-size: 0.875;
  }

  .main-picture{
    height: 170px;
    width: 170px;
    margin-top: -160px;
  }
  
  .main-picture-width {
    width: 170px;
  }
  
}
