.gender {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
}

.male {
  background-color: map-get($colors, blue);
  @extend .gender !optional;
}

.female {
  background-color: map-get($colors, pink);
  @extend .gender !optional;
}

.evolution-picture {
  height: 10rem;
  width: 10rem;
  border: 1px solid map-get($colors, gray5);
  border-radius: 10px;
}
