$colors: (
  primary: #6D7BE3,
  gray1: #212121,
  gray2: #585858,
  gray3: #939393,
  gray4: #BCBCBC,
  gray5: #E0E0E0,
  gray6: #F5F5F5,
  white: #ffffff,
  black: #1f1f1f,
  blue: #4ec6fd,
  brown: #705849,
  gray: #b8b9cf,
  green: #62d5ae,
  pink: #f7a2df,
  purple: #9f449f,
  red: #f16f65,
  yellow: #ffce4b,
);
