$colors: (
  primary: #6d7be3,
  gray1: #212121,
  gray2: #585858,
  gray3: #939393,
  gray4: #bcbcbc,
  gray5: #e0e0e0,
  gray6: #f5f5f5,
  white: #ffffff,
  black: #1f1f1f,
  blue: #4ec6fd,
  brown: #705849,
  gray: #b8b9cf,
  green: #62d5ae,
  pink: #f7a2df,
  purple: #9f449f,
  red: #f16f65,
  yellow: #ffce4b,
  orange: #f29d52,
);
